[Unit]
Description=OpenStint Laptiming Decoder
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/openstint
ExecStart=/home/pi/openstint/src/openstint_rtlsdr -g 20
; ExecStart=/home/pi/openstint/src/openstint_hackrf -l 20 -v 20
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal
CPUSchedulingPolicy=fifo
CPUSchedulingPriority=70
IOSchedulingClass=realtime
IOSchedulingPriority=0
Nice=-10

[Install]
WantedBy=multi-user.target
